.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .dashboard-content {
    display: flex;
    flex: 1;
    padding: 20px;
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
  }
  
  .dashboard-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 80%;
    place-items: center;
    position: fixed;
    left: 290px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    color: azure;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  blockquote {
    font-style: italic;
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-left: 0;
    color: azure;
    margin-bottom: 20px;
  }
  
  .flex-item {
    background: linear-gradient(0deg, #2e0959, #000, #0c0000);
    padding: 15px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .main-content {
      grid-template-columns: 1fr; 
      grid-gap: 10px; 
    }
  
    .flex-item {
      margin: 0; 
    }
  }