body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  .leave-approval-container {
    display: flex;
    margin-top: 10px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #16213e;
    color: #fff;
    padding: 20px;
  }
  
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .leave-main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 350px; 
    margin-top: 100px; 
  }
  
  .leave-requests {
    display: flex;
    flex-wrap: wrap;
    gap: 100px; 
  }
  
  .leave-request {
    background: linear-gradient(60deg, #000, #50026f, #0c0000);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px; 
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .leave-request:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .request-details {
    margin-bottom: 10px;
  }
  
  .request-actions {
    display: flex;
    gap: 10px;
  }
  
  .accept-button,
  .delete-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .accept-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }